<div>
    <form action="/" method="post">
        <label for="title">Title :<label>
        <input type="text" name="title">
        <label for="author">Author :</label>
        <input type="text" name="author">
        <label for="pages">Pages :</label>
        <input type="number" name="pages">
        <label for="input">Read :</label>
        <input type="radio" name="read" value=<%= true %>>Read
        <input type="radio" name="read" value=<%= false %>>Not Read
        <button type="submit">Submit</button>
    </form>
</div>