<div class="section">
    <% if (books.length <= 0) { %>
        <div class="add-box">
            <a href="/add-book" class="button">+</a>
        </div>
    <% } else { %>
        <% books.forEach(book => { %>
            <div class="book">
                <div>
                    <h2><%= book.title %></h2>
                    <h4><%= book.author %></h4>
                    <h4><%= book.pages %></h4>
                    <p>Date updated</p>
                    <div class="controls">
                        <% if (book.read) { %>
                            <button class="btn-lg green">Read</button>
                        <% } else { %>
                            <button class="btn-lg red">Not Read</button>
                        <% } %>
                        <div>
                            <a href="/edit-book/<%= book._id %>">Edit
                            <input type="submit" value="Delete">
                        </div>
                    </div>
                    </div>
            </div>
        <% }) %>
    <% } %>
</div>