<div>
    <div class="book">
        <div>
            <h2>Book Name</h2>
            <h4>book author</h4>
            <h4>book pages</h4>
            <p>Date updated</p>
        </div>
    </div>
</div>